.body-image-container {
    background-image: url("../Pic/pexels-tetyana-kovyrina-937980.jpg");
    opacity: 0.9; /* transparan gambar 1 tidak transparan 0 transparan */
    background-size: 100%;
    background-attachment: fixed;
}

.box1 {
    text-align: center;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
/*    border: 1px solid black;  */
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-40%, -40%);
}